# Build directories
build/
cmake-build-*/

# IDE
.idea/

# macOS
.DS_Store

# Compiled binaries and object files
*.o
*.obj
*.so
*.dll
*.exe
*.a
*.lib
*.dylib

# CMake generated
CMakeCache.txt
CMakeFiles/
compile_commands.json

# Qt generated
*.pro.user
*.qmake.stash
*_autogen/

# Logs
*.log
*.cache